


	/* ---------------------------------------------------------------------------- Entangledkartan */

	/* ---------------------------------------------------------------------------------[Entangled] */

			#diffractionMap {
				width: 850px;
				height: 500px;
				background: url(../img/floorBlock.png);
			    top: 25px;
			    left: 335px;
			}

	/* ---------------------------------------------------------------------------------- Stopblock */

			.diffWall {
				height: 120px;
				background: url(../img/wallpaper.png);
			    top: 0px;
			    position: absolute;
			}
	/* --------------------------------------------------------------------------------------[Test] */

		