
	/* -------------------------------- [Kartan] -------------------------------- */

			#secretMap {
				width: 800px;
				height: 500px;
				background: url(../img/floorBlock.png);
			    top: 25px;
			    left: 360px;
			}

	/* ------------------------------- [Väggarna] ------------------------------ */

			.secretWall {
				height: 130px;
				background: url(../img/secretWall.png);
				position: absolute;
				top: 0px;
				z-index: 2;

			}

	/* ------------------------------ [Dekorationer] ---------------------------- */

		.painting {
				position: absolute;
				background: url(../img/paintingBackground.png) no-repeat white;
				top: 20px;
				width: 60px;
				height: 100px;
				overflow: hidden;
		}

		.slidingPaintings {
			width: 50px;
			height: 401px;
			margin-top: 10px;
			margin-left: 5px;
			background: url(../img/paintingSlide.png);
		}

		.scrollFrame {
			width: 70px;
			height: 107px;
			position: absolute;
			top: 16px;
			z-index: 4000;
			background: url(../img/scrollFrame.png) no-repeat;
		}