


	/* ---------------------------------------------------------------------------- Entangledkartan */

	/* ---------------------------------------------------------------------------------[Entangled] */

			#secretMap {
				width: 800px;
				height: 500px;
				background: url(../img/floorBlock.png);
			    top: 25px;
			    left: 360px;
			}

			/* Spelare 2 */

			 #mirror {
			    position:absolute;
			    width:40px; height:40px;    
				background: url(../img/entangled/playerDark.png);
				z-index: 300;
			} 

	/* ---------------------------------------------------------------------------------- Stopblock */

	/* --------------------------------------------------------------------------------------[Test] */

			#wall {
				width: 800px;
				height: 130px;
			    left: 0px;
				background: url(../img/secretWall.png);
				position: absolute;
				top: 0px;
				z-index: 5;

			}


			#painting1 {
				width: 60px;
				height: 100px;
				background: url(../img/paintingBackground.png) no-repeat white;
				position: absolute;
				top: 20px;
				left: 205px;
				overflow: hidden;
			}


			#painting2 {
				width: 60px;
				height: 100px;
				background: url(../img/paintingBackground.png) no-repeat white;
				position: absolute;
				top: 20px;
				left: 305px;
				overflow: hidden;
			}



			#painting3 {
				width: 60px;
				height: 100px;
				background: url(../img/paintingBackground.png) no-repeat white;
				position: absolute;
				top: 20px;
				left: 405px;
				overflow: hidden;
			}



			#painting4 {
				width: 60px;
				height: 100px;
				background: url(../img/paintingBackground.png) no-repeat white;
				position: absolute;
				top: 20px;
				left: 505px;
				overflow: hidden;
			}


			.herro1 {
				width: 50px;
				height: 321px;
				margin-top: 10px;
				margin-left: 5px;
				background: url(../img/paintingSlide.png);
			}



			.scrollFrame {
				width: 70px;
				height: 107px;
				position: absolute;
				top: 16px;
				z-index: 4000;
				background: url(../img/scrollFrame.png);
			}