
	/* -------------------------------- [Kartan] -------------------------------- */

	#startMap {
		width: 600px;
		height: 400px;
		background: url(../img/wood_3.png);
	    top: 25px;
	    left: 500px;
	}

	/* ------------------------------- [Väggarna] ------------------------------ */

			.startWall {
				height: 120px;
				background: url(../img/wallpaper3.png);
				position: absolute;
				top: 0px;
				z-index: 5;

			}

