body{

}
#puzzel_way{
	background: url(../img/puzzel_lvl/puzzel.png) !important;
	
	width:224px;
	height:140px;
	margin-top: 220px;
	margin-left: 320px;
	}
#block{
	background: url(../img/puzzel_lvl/1473855148.png) !important;
	position: absolute;
	width:152px;
	height:156px;	
	right: 100px;
	top:110px;
	}
#TNT{
	background: url(../img/puzzel_lvl/1473932667.png) !important;
	position: absolute;
	width:104px;
	height:168px;	
	right: 100px;
	top:320px;
}
#TNT{
	background: url(../img/puzzel_lvl/1473932667.png) !important;
	position: absolute;
	width:104px;
	height:168px;	
	right: 100px;
	top:320px;
}
#chest{
	background: url(../img/puzzel_lvl/1473933008.png) !important;
	position: absolute;
	width:104px;
	height:80px;	
	left: 10px;
	top:320px;
}