
body {
	background-color: #d5d3d3;
}

.displayContent {
	width: 840px;
	height: 500px;
	background: url(img/floorBlock.png);
    position:absolute;
    top: 25px;
    left: 350px;
	border: 10px solid white;
	color: #000;
}

.stop {
	z-index: 4;
}

#box {
    position:absolute;
    width:40px; height:40px;    
	background: url(img/player.png);
    bottom: 0;
    left: 50%;
    font-size: 10px;
    font-family: verdana;
	z-index: 5;
}

.stopOne {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 120px;
	background: url(img/wallpaper.png);
}

.stopTwo {
	position: absolute;
	left: 0px;
	top: 410px;
	width: 200px;
	height: 50px;
	background: url(img/cobble_one.png);
}


.stopThree {
	position: absolute;
	right: 220px;
	top: 220px;
	width: 200px;
	height: 100px;
	background: url(img/cobble_one.png);
}



.doorOne {
	width: 50px;
	height: 80px;
	position: absolute;
	left: 120px;
	top: 40px;
	background: url(img/door1.png);
}

.sconce {
	width: 51px;
	height: 63px;
	position: absolute;
	background: url(img/sconce.png);
	z-index: 300;
}


.painting {
	width: 84px;
	height: 98px;
	position: absolute;
	background: url(img/painting.png);
	z-index: 300;
}